$clr_def: #555;
$clr_red: #cf2121;
$clr_blue: #2377ac;
$clr_show_more: #d90000;
$clr_link: #1670a9;
$bg_clr_def: #eee;
$bg_clr_scnd: #f5f5f5;
$brd_clr_def: #c4c4c4;
$brd_clr_scnd: #dfdfdf;
$page_min: 960px;
$page_max: 960px;
$page_side_indent: 20px;
$height_footer: 105px;